<h2>
   <%= @task.title %>
   <br>
    <%= @task.details %>
  <br>
  <%=  @task.completed %>
  <br>
</h2>

<%= link_to 'Back to list', tasks_path  %>
<%= link_to 'Edit this task', edit_path(@task.id) %>
